@model List<MugOrder>

@{
    ViewBag.Title = "Trainers";
}


<h2>Trainers</h2>

<span style="color:red">@TempData["Msg"]</span>
<br />
@if (User.IsInRole("Admin"))
    {   <p>
        <a asp-controller="MugOrder" asp-action="Create">Create New</a>
     </p>
    }

<table class="table">
    <tr>
        <th>Email</th>
        <th>Full Name</th>
        <th>Courses I can conduct</th>
        <th>DOB</th>
        @if (User.IsInRole("Admin"))
        {
            <th>Created By</th>
        }
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Email
            </td>
            <td>
                @item.FullName
            </td>
            <td>
                @item.Courses
            </td>
            <td>
                @item.DOB
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>@item.CreatedBy</td>
            }
            <td>
                <a asp-action="Update" asp-route-id="@item.Id">Update</a>
            </td>
        </tr>
    }
</table>